{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static 'public/jquery-3.4.1.js'%}" crossorigin="anonymous"></script>
    <script src="{% static 'public/popper.min.js'%}" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/auth.css'%}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'public/bootstrap/css/bootstrap.css'%}" crossorigin="anonymous">
    <script src="{% static 'public/bootstrap/js/bootstrap.js'%}" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>سامانه ورود به سیستم</title>
</head>
<body>
    
</body>
</html>