{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- jquery and bootstrap added below!  -->
    <script src="{% static 'public/jquery-3.4.1.js'%}" crossorigin="anonymous"></script>
    <script src="{% static 'public/popper.min.js'%}" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'public/bootstrap/css/bootstrap.css'%}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css'%}" crossorigin="anonymous">
    <script src="{% static 'public/bootstrap/js/bootstrap.js'%}" crossorigin="anonymous"></script>
    <!-- jquery and bootstrap added above!  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">


            <div class="collapse navbar-collapse" id="navbarNavDropdown" style="font-family:Lalezar">
                <ul class="navbar-nav text-right ml-auto" dir="rtl">
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'weblog:signin' %}">ورود به سیستم</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'weblog:register' %}">ثبت نام</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'weblog:aboutus' %}">درباره ما</a>
                </li>    
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    دسته بندی
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">دسته ۱</a>
                    <a class="dropdown-item" href="#">دسته ۲</a>
                    <a class="dropdown-item" href="#">دسته ۳</a>
                    </div>
                </li>          
                </ul>
            </div>
            <a class="navbar-brand" href="{% url 'weblog:home' %}" style="font-family:Lalezar">رزومو پلتفرم رزومه آنلاین</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    </nav>
    <br>
    <br>

    <div>

        {% block body_block %}
        <!-- CONTENT -->
        {% endblock  %}
        
    </div>
</body>
</html>