{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <script src="{% static 'weblog/js/sweetalert2-8.13.4/package/dist/sweetalert2.all.min.js' %}"></script>    
    <link rel="stylesheet" href="{% static 'weblog/js/sweetalert2-8.13.4/package/dist/sweetalert2.min.css'%}" crossorigin="anonymous">

    <!-- jquery and bootstrap added below!  -->
    <link rel="stylesheet" href="{% static 'weblog/public/bootstrap/css/bootstrap.css'%}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'weblog/css/base.css'%}" crossorigin="anonymous">

    <!-- jquery and bootstrap added above!  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'weblog/images/icon.jpg' %}" />
    

    {% block mycss %} {% endblock mycss %}
    

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid position-relative">


            <div class="collapse navbar-collapse" id="navbarNavDropdown" style="font-family:Lalezar">
                <ul class="navbar-nav text-right ml-auto" dir="rtl">

                
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'weblog:profile' %}">پروفایل</a>
                    </li>
                {% else %}
                {% endif %}

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'weblog:newpost' user %}">پست جدید</a>
                    </li>
                {% else %}
                {% endif %}


                {% if user.is_authenticated %}

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'weblog:register' %}">ثبت نام</a>
                </li>
                {% endif %}


                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'weblog:wall' user %}">دیوار شما</a>
                    </li>
                {% else %}

                {% endif %}

                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        تنظیمات ناحیه کاربری
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'weblog:edit_profile' user%}">تغییر مشخصات</a>
                            <a class="dropdown-item" href="#">تنظیمات امنیتی</a>
                            <a class="dropdown-item" href="#">ارسال تیکت</a>
                        </div>
                    </li>  
                {% else %}
                {% endif %}



                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'weblog:signout' %}">خروج از سیستم</a>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'weblog:signin' %}">ورود به سیستم</a>
                    </li>
                {% endif %}


                <li class="nav-item">
                    <a class="nav-link" href="{% url 'weblog:aboutus' %}">درباره ما</a>
                </li>    



                </ul>
            </div>
            <a class="navbar-brand" href="{% url 'weblog:home' %}" style="font-family:Lalezar">رزومو پلتفرم رزومه آنلاین</a>
            <a href="{% url 'weblog:home' %}"><img src="{%static 'weblog/images/icon.jpg'%}" alt="" style="height: auto; width: auto; max-height: 70px ; max-width: 70px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    </nav>
    <br>
    <br>

    <div>

        {% block body_block %}
        <!-- CONTENT -->
        {% endblock  %}
        {% block js %}
            <script src="{% static 'weblog/public/bootstrap/js/bootstrap.js'%}" crossorigin="anonymous"></script>
            <script src="{% static 'weblog/public/jquery-3.4.1.js'%}" crossorigin="anonymous"></script>
            <script src="{% static 'weblog/public/popper.min.js'%}" crossorigin="anonymous"></script>        
        {% endblock js %}
    </div>
</body>
</html>