<!DOCTYPE html>
{% extends "weblog/base.html" %}
{% load staticfiles %}


  <head>
    <link rel="stylesheet" href="{% static 'weblog/css/home.css'%}" crossorigin="anonymous">
    <title>{% block title %}رزومو پلتفرم رزومه آنلاین{% endblock %}</title>
  </head>
  
  
    {% block body_block %}

      <div class="row text-center" style="font-family: Lalezar">
          <!-- soton 1 samt chap -->
            <div class="col" id="last-users">
              <p>:اخرین کاربران سایت </p>
              <p>
                    {% if last_users %}
                      {% for user in last_users %}
                        <p>{{user}}</p>
                      {% endfor %}
                    {% else %}
                    <p>هیچ کاربری یافت نشد !</p>
                    {% endif %}
              </p>
            </div>

            <div class="col" id="last-online">
              <p>: ( کاربران آنلاین (در ۳۰ ثانیه اخیر</p>
              <p>


              {% if online_users %}
                {% for user in online_users %}
                
                <p>
                  {{ user.user }}
                </p>
                
                {% endfor %}
              {% else %}
                <p>
                !  کاربر آنلاینی یافت نشد 
                </p>
              {% endif %}


              </p>
            </div>


            <!-- Soton 3 samt rast -->
            <div class="col" id="last-posts">
              <p>:اخرین پست های افراد </p>
              <p>
                  {% if last_blogposts %}
                    {% for blogpost in last_blogposts %}
                      <a href="#">{{blogpost}}</p>
                    {% endfor %}
                  {% else %}
                     <p> ! هیچ پستی یافت نشد</p>
                  {% endif %}
              </p>
            </div>
      </div>

    {% endblock body_block %}

