<!DOCTYPE html>
{% extends "weblog/base.html" %}
{% load staticfiles %}
    <head>
        <title>{% block title %} پست جدید {% endblock %}</title>
    </head>


    {% block js %}
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script> var simplemde = new SimpleMDE(); </script>
    {% endblock js %}

    {% block mycss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    {% endblock mycss %}
    
{% block body_block %}

    <h1>
        {% if not form.instance.pk %}
        Create Post
        {% else %}
        Update Post
        {% endif %}
    </h1>

    <form method="POST" class="mb-4" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input name="" id="" class="btn btn-primary" type="submit" value="Submit">

    </form>

{% endblock body_block %}