<!DOCTYPE html>
{% extends "weblog/base.html" %}
{% load staticfiles %}
    <head>
        <title>{% block title %}  پست {{blogpost.title}} {% endblock %}</title>

        <!-- Custom styles for this template -->

    </head>

{% load humanize %}

{% load CustomFilters %}

{% block body_block %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{blogpost.title}}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="{% url 'weblog:user_profile' blogpost.username %}">{{blogpost.username}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{blogpost.pub_date}} / {{blogpost.pub_date|naturaltime}}</p>
        <p><a href="{% url 'weblog:postlikes' blogpost.username blogpost.id %}"><img style="height: 50px; width: 50px;" src="/media/weblog/like-flat.png" alt=""> Likes : {{blogpost.blogpostlike_set|truelikesCount}}</a>
           <a href="{% url 'weblog:postlikes' blogpost.username blogpost.id %}"><img style="height: 50px; width: 50px;" src="/media/weblog/dislike-icon.png" alt="">Dislikes : {{blogpost.blogpostlike_set|truedislikesCount}}</a>
        </p>

        <hr>

        <!-- Preview Image -->
        {% if blogpost.post_pic %}
            <img class="img-fluid rounded" src="/media/{{blogpost.post_pic}}" alt="Card image cap">
        {% else %}
            <img class="img-fluid rounded" src="/media/weblog/post_pics/900x300.png" alt="Card image cap">
        {% endif %}     

        <hr>

        <!-- Post Content -->
        <p>{{blogpost.body}}</p>
        <!-- Like Post -->
        {% if user.is_authenticated %}


          {% if auth_user_like %}

            {% if auth_user_like.likes == 1 %}
            
              <a name="" id="" class="btn btn-dark" href="{% url 'weblog:likeThePost' blogpost.username blogpost.id %}" role="button">Delete Your Like</a>
              
            {% else %}

              <a name="" id="" class="btn btn-dark" href="{% url 'weblog:likeThePost' blogpost.username blogpost.id %}" role="button">Delete Your Dislike</a>

            {% endif %}
          
          {% else %}

              <a name="" id="" class="btn btn-primary" href="{% url 'weblog:likeThePost' blogpost.username blogpost.id %}" role="button">Like This Post</a>
              <a name="" id="" class="btn btn-danger" href="{% url 'weblog:dislikeThePost' blogpost.username blogpost.id %}" role="button">Dislike This Post</a>


          {% endif %}


        

        
        <!-- user.is_authenticated -->
        {% endif %}

        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        {% for comment in blogpost.comment_set.all %}
        <div class="media mb-4">
        {% if comment.username.userdetail.profile_pic %}
          <a href="{% url 'weblog:user_profile' comment.username %}"><img class="d-flex mr-3 rounded-circle" style="height : 50px; width=50px;" src="/media/{{comment.username.userdetail.profile_pic}}" alt=""></a>
        {% else %}
          <a href="{% url 'weblog:user_profile' comment.username %}"><img class="d-flex mr-3 rounded-circle" style="height : 50px; width=50px;" src="/media/weblog/profile_pics/profile_sample_picture_default.png" alt=""></a>
        {% endif %}  
          <div class="media-body">
            <a href="{% url 'weblog:user_profile' comment.username %}"><h5 class="mt-0">{{comment.username}}</h5></a>
              {{comment.comment_text}}
          </div>
        </div>
        {% endfor %}


      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>




      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock body_block %}