<!DOCTYPE html>
{% extends "weblog/base.html" %}
{% load static %}
    
    
    <head>
        <link rel="stylesheet" href="{% static 'css/auth.css'%}" crossorigin="anonymous">
        <title>{% block title %}سامانه ورود به سیستم{% endblock %}</title>
    </head>


    {% block body_block %}

            <h1 class="text-center" style="font-family: Lalezar">:  لطفا اطلاعات خود را وارد کنید</h1>
            <hr>
            <p>
                <div class="container" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">

                    <div class="row">
                        <div class="col">
                                <form method="POST">
                                        <table>
                                            {{signup_form.as_table}}
                                            {% csrf_token %}
                                        </table>
                                    <input type="submit" class="btn btn-primary" value="ثبت نام">
                                </form>
                        </div>
                        <div class="col">
                            <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus est voluptate cum beatae adipisci amet enim repudiandae. Quia fuga illum delectus, id porro ullam, molestiae exercitationem unde, voluptates nostrum velit.
                            </p>
                            <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus est voluptate cum beatae adipisci amet enim repudiandae. Quia fuga illum delectus, id porro ullam, molestiae exercitationem unde, voluptates nostrum velit.
                            </p>
                        </div>
                    </div>
                </div>
            </p>

    {% endblock body_block %}

