<!DOCTYPE html>
{% extends "weblog/base.html" %}
{% load staticfiles %}
    <head>
        <title>{% block title %} ! ثبت نام موفقیت آمیز بود{% endblock %}</title>
    </head>

{% block body_block %}

<script>
    
Swal.fire({
  position: 'center',
  type: 'success',
  title: 'ثبت نام با موفقیت انجام شد',
  text: '! میتونی از بخش ورود وارد سایت بشی',
  showConfirmButton: false,
  timer: 3000,

})

setTimeout(function(){ window.location.replace("{% url 'weblog:signin'%}"); }, 1000);



</script>

{% endblock body_block %}