<!DOCTYPE html>
{% extends 'weblog/base.html' %}
{% block body_block %}

<div class="jumbotron text-center" style="font-family: Lalezar">
    <h1 class="display-3">ورود به سیستم</h1>
    <br>
    <p class="lead">لطفا اطلاعات خود را وارد کنید</p>
    <hr class="my-2">
    <br>
    <form action="{%url 'weblog:signin' %}" method="post">
        {% csrf_token %}
        <p>
            <label for="username">نام کاربری :‌</label>
            <input type="text" name="username" placeholder="نام کاربری خود را وارد کنید">
        </p>

        <p>
            <label for="password">کلمه عبور :</label>
            <input type="password" name="password" placeholder="کلمه عبور را وارد کنید">
        </p>
        
        <input class="btn btn-primary btn-lg" type="submit" value="ورود به سایت">

    </form>

    
</div>

{% endblock body_block %}