<!DOCTYPE html>
{% extends "weblog/base.html" %}
{% load staticfiles %}
    <head>
        <title>{% block title %}دیوار کاربر {{username_in_url}}{% endblock %}</title>
    </head>

{% block body_block %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4"></h1>

        {% for post in blogposts %}
        
        <!-- Blog Post -->
        <div class="card mb-4">
          {% if post.post_pic %}
            <img class="card-img-top" src="/media/{{post.post_pic}}" alt="Card image cap">
          {% else %}
            <img class="card-img-top" src="/media/weblog/post_pics/750x300.png" alt="Card image cap">
          {% endif %}
          
          <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">{{post.body}}</p>
            <a href="{% url 'weblog:post' post.username post.id %}" class="btn btn-primary">Read The Post &rarr;</a>
            <!-- bayad read the post ro be detail view post vasl konam ! -->
          </div>
          <div class="card-footer text-muted">
            Post On {{post.pub_date}}
            <a href="{% url 'weblog:user_profile' post.username %}">{{post.username}}</a>
            <hr>
            <p><a href="{% url 'weblog:postlike' post.username post.id %}"><img style="height: 50px; width: 50px;" src="/media/weblog/like-flat.png" alt=""> {{post.blogpostlike_set.count}}</a></p>

          </div>
          
        </div>            
        
        {% endfor %}


        {% comment %} <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul> {% endcomment %}

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>



      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock body_block %}